<html xmlns="http://www.w3.org/1999/xhtml"></html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet"  href="../bootstrap3/css/bootstrap.css">
</head>
<body ng-app=''>
	<div ng-controller="cartsController" class="container">
		<table class="table">
			<thread>
				<tr>
					<th>产品编号</th>
					<th>产品名字</th>
					<th>购买数量</th>
					<th>产品单价</th>
					<th>产品总价</th>
					<th>操作</th>
				</tr>
			</thread>
			<tbody>
				<tr ng-repeat="item in carts">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>
						<button type="button" class="btn btn-primary" ng-click="reduce(item.id)">-</button>
						<input type="text" ng-model="item.quantity" value="9" />
						<button type="button" class="btn btn-primary">+</button>
					</td>
					<td>{{item.price}}</td>
					<td>{{item.price * item.quantity}}</td>
					<td>
						<button class="btn-danger">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="../angular-1.2.18/angular.js"></script>
	<script src="./app/phone_list.js"></script>
</body>
</html>
